/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


body {
	color: #fff;
	background-color: #000000;
	margin: 0 auto;
}

header {
	background: #072d67;
}

header,
section {
	margin: 0 auto;
	line-height: 1.5;
	font-family: sans-serif;
}

section {
	background: #0f1417;
	border-radius: 10px;
}

.hero-image {
	background: url(../img/hero-image.webp) no-repeat;
	background-size: contain;
	margin: 0 auto;
	background-position: center;
	opacity: 0.8;
	aspect-ratio: 16/9;

}

img {
	margin: 0 auto;
}

h1 {
	font-size: 3.75rem;
	font-family: 'Oswald', sans-serif;
}



h1,
h2,
h3 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
}

h2 {
	/* font-size: 34px; */
	font-size: 2.125rem;
	color: #dca821;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

.center {
	text-align: center;
}

header .logo,
header .description {
	width: 50%;
	float: left;
}

header .description {
	margin-top: 45px;
}

header p.tagline {
	/* font-size: 24px; */
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header li {
	float: left;
	margin-right: 25px;
}

header li a {
	color: #fff;
}

header li a:hover {
	color: red;
}

header div {
	padding: 10px;
}

footer ul {
	padding: 20px;
}

.flex {
	display: flex;

}

.grid-container {
	display: grid;
}

.column,
.heading {
	padding: 20px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.specials {
	background-color: rgb(100, 0, 0);
	border-radius: 20px;
}

.specials h2 {
	color: #EEFF00;
	-webkit-text-stroke: 2px black;
}

.menu-description {
	text-align: left;
	font-style: italic;
}

.cold {
	background: #003993;
	border-radius: 10px;
}

.hot {
	background: #A80505;
	border-radius: 10px;
}

.coffee {
	background: #3c2b24;
	border-radius: 10px;
}


footer {
	background-color: #072d67;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px 5px 0 0;
	padding: 15px;
}

ul li {
	margin: 0.625rem;
}

ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}

ul li a:hover {
	color: #FFD700;
}

.menu-img {
	border-radius: 2.5rem;
}


/********************** Your Code Goes Here ******************/




/** Mobile **/
@media screen and (max-width: 50rem) {

	body {
		font-size: 16px;
		overflow-x: hidden;
	}

	header .logo,
	header .description,
	ul,
	section {
		width: 100%;
		padding: 15px;
	}

	.hero-image {
		max-inline-size: 100%;

		height: 40vh;
		width: auto;

	}

	.description,
	.menu-description {
		/* inline-size: 300px; */
		overflow-wrap: break-word;
	}


	h1,
	h2,
	h3 {
		font-size: 50px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	header p.tagline {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}

	.grid-container,
	.grid-container-drinks {
		grid-template-rows: 1fr;
	}
}


/* Large Devices */
@media screen and (min-width: 70rem) {

	header {
		height: 170px;
	}

	section {
		width: 960px;
	}

	.hero-image {
		height: 100vh;
		margin: 0 auto;

	}

	img {
		max-height: 200px;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.grid-container {
		grid-template-columns: 1fr 1fr;
		padding: 10px 0;
	}

	.grid-container-drinks,
	.social-links {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 10px 0;
	}

	.mg-b-60 {
		margin-bottom: 60px
	}
}

/* background: #4b0071;
margin: 0 auto;
width: 107px;
border-radius: 10px 10px 0 0; */