header,
section {
	width: 960px;
	margin: 0 auto;
	line-height: 1.5;
	font-family: sans-serif;
}

h1,
h2,
h3 {
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}


header .logo,
header .description {
	width: 50%;
	float: left;
}

header .description {
	margin-top: 15px;
}

header p.tagline {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header li {
	float: left;
	margin-right: 25px;
}

/********************** Your Code Goes Here ******************/