/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


body {
	color: #fff;
	background-color: #000000;
	margin: 0 auto;
}

header {
	background: #3f51b5;
}

header,
section {
	margin: 0 auto;
	line-height: 1.5;
	font-family: sans-serif;
}

.hero-image {
	background: url(../img/hero-image.webp) no-repeat;
	background-size: cover;
	margin: 0 auto;

}

h1 {
	font-family: 'Oswald', sans-serif;
}



h1,
h2,
h3 {
	font-size: 85px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-size: 34px;
	color: #dca821;
}

h3 {
	font-size: 20px;
}

.center {
	text-align: center;
}

header .logo,
header .description {
	width: 50%;
	float: left;
}

header .description {
	margin-top: 45px;
}

header p.tagline {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header li {
	float: left;
	margin-right: 25px;
}

header li a {
	color: #fff;
}

header li a:hover {
	color: red;
}

header div {
	padding: 20px;
}

footer ul {
	padding: 20px;
}

.flex {
	display: flex;

}

.grid-container {
	display: grid;
}

.column,
.heading {
	padding: 20px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.specials {
	background-color: rgb(0, 103, 103);
	border-radius: 20px;
}

.specials h2 {
	color: #fa032c;
	-webkit-text-stroke: 2px black;
}

.menu-description {
	text-align: left;
	font-style: italic;
}

.cold {
	background: #4b0071;
	border-radius: 10px;
}

.hot {
	background: red;
	border-radius: 10px;
}

.coffee {
	background: #3c2b24;
	border-radius: 10px;
}

/********************** Your Code Goes Here ******************/




/** Mobile **/
@media screen and (max-width: 50rem) {

	body {
		font-size: 16px;
		overflow-x: hidden;
	}

	header .logo,
	header .description,
	ul,
	section {
		width: 100%;
		padding: 15px;
	}

	.hero-image {
		max-inline-size: 100%;

		height: 40vh;
		width: auto;

	}

	.description,
	.menu-description {
		/* inline-size: 300px; */
		overflow-wrap: break-word;
	}

	h1,
	h2 {
		text-align: center;
	}

	h1,
	h2,
	h3 {
		/* 100px */
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	h2 {
		/* 72px */
		font-size: 30px;
	}

	h3 {
		/* 48px */
		font-size: 20px;
	}

	header p.tagline {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}

	.grid-container,
	.grid-container-drinks {
		grid-template-rows: 1fr;
	}
}


/* Large Devices */
@media screen and (min-width: 70rem) {


	section {
		width: 1000px;
	}

	.hero-image {
		height: 100vh;
		margin: 0 auto;

	}

	.grid-container {
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		margin-bottom: 60px;
	}

	.grid-container-drinks {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

}

background: #4b0071;
margin: 0 auto;
width: 107px;
border-radius: 10px 10px 0 0;